<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/navi.js"></script>
  </head>
  <body>
  <%include menu%>
  <h1>Всего в коллекци пробок:<%=num%> шт.</h1>
  <div id="caps">
    <div class="indexdiv">
      <%include cap%>
    </div>
    <div class="indexdiv">
      <form method="post"class="indexdivform">
          <p><input type="submit" value="показать все" name="all"/></p>
          <p><input type="submit" value="показать по id (поле ввода ниже)" name="ids"/></p>
          <p><input type="text" placeholder="1,2,8,25-56,125" name="text"/></p>
          <p><input type="submit" value="последние <%=perpage%>" name="last"/></p>
      </form>
    </div>

  </div>
  </body>
</html>
