<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%include menu%>
  <h1>поиск по тексту</h1>
  <div id="caps">
    <form method="post">
      <p>
        <label>игнорировать символы до<input type="checkbox" name="lp"/></label>
        <input type="text" name="text"/>
        <label><input type="checkbox" name="rp"/>игнорировать символы после</label>
      </p>
      <p>
        <input type="submit" value="поиск"/>
      </p>
    </form>
  </div>
  </body>
</html>
